# Ignore most of source code
src/*
!src/specs   # keep specs for codegen

node_modules/
*.ts
*.tsx
*.spec.ts
*.spec.tsx
*.log

.vscode/
.idea/
.DS_Store
*.iml
*.swp
*.swo
*.bak
npm-debug.log*
yarn-error.log*
yarn-debug.log*

.git/
.gitignore

.env
.env.*
